-f https://download.pytorch.org/whl/torch_stable.html

numpy==1.22.4
pandas==1.4.2
torch==1.13.1+cu116
torchaudio==0.13.1+cu116
matplotlib==3.5.2
seaborn==0.11.2
tqdm==4.64.0
transformers==4.17.0
hydra-core==1.2.0
tensorboard==2.9.1
jupyterlab==3.4.2
datasets==2.8.0
evaluate==0.4.0
jiwer==2.5.1
soundfile==0.12.1
librosa==0.10.0
torchaudio==0.13.1
pre-commit==2.19.0
huggingface-hub==0.10.1
